!!! 1.1
%html
  %head
    %title Application Name

    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'site'

  %body
    #document
      #header
        #headercontainer.container

          #headernav
            - if current_user
              = link_to "profile", account_url
              or
              = link_to 'logout', logout_url
            - else
              = link_to "login", login_url
              or
              = link_to 'register', register_url

      #headlinebar
        #headlinewrapper.container
          #headline

      #content.container.prepend-top
        = yield

      #footer.container.prepend-top
        #footernewsnav
          Copyright &copy; 2009 Trevor Oke
          &nbsp;|&nbsp;
          = link_to "Privacy Policy", privacy_url
          &nbsp;|&nbsp;
          = link_to "Terms of Service", terms_url